body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: $bgColor;
	padding: 0px;
	color: white;
	font-size: $fontSize;
	button {
		outline: none;
	}
}
.app-container {
	display: flex;
	margin-left: $sidebarMaxWidth;
}
.right-side {
	width: 100%;
}
.topbar {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.8rem;
}
.navigation {
	display: flex;
	align-items: center;
	.navi-prev,
	.navi-next {
		height: 1.4rem;
		background: none;
		border: none;
		padding: 0px;
		margin: 0px;
		outline: none;
		color: white;
		span {
			font-size: 2rem;
			line-height: 1.4rem;
		}
		&.inactive {
			opacity: 0.4;
		}
	}
}
.search {
	display: flex;
	align-items: center;
	margin: 0px 10px;
	.material-icons {
		height: 100%;
		display: block;
		padding: 0px;
		color: black;
		background: white;
		border: none;
		padding-left: 5px;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
		font-size: 1.3rem;
		height: 1.6rem;
		display: flex;
		align-items: center;
	}
	input {
		border: none;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		font-size: 0.95rem;
		padding: 5px 10px;
		height: 1.6rem;
		box-sizing: border-box;
		outline: none;
	}
}
.main {
	box-sizing: border-box;
	padding: 1.5rem 1.5rem 5rem 1.5rem;
}
.header {
	.header-title {
		font-size: 2rem;
		margin: 0px 0px 2rem;
	}
}
