@import 'material-icons/iconfont/material-icons.scss';

@import './variales.scss';
@import './global.scss';
@import './sidebar.scss';
@import './bottom.scss';
@import './player.scss';
@import './covers.scss';
@import './trackList.scss';
